*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    font-size: 62.5%;
}
header{
    display: flex;
    justify-content:space-between;
    align-items: center;

}
.header_artikel {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.header_button {
    height: fit-content;
    border: none;
}
.header_button div {
    border: 2px solid;
    width: 3em;
    margin: 4px;
    
}
.header_img {
    width: 5em;
}
main{
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.projeckt_img {
    width: 50em;
}
.img2 {
    width: 6em;
}
.img3 {
    width: 4em;
}
p{
    font-size: 20px;
}
.my_testimonial_card img {
    width: 15em;
    height: 15em;
    border-radius: 50%;
    margin: 3em;
}
.my_testimonial_card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30em;
    height: 40em;
    margin: 1em;
    border: 1px solid;
    border-radius: 10px;
}
.linie {
    border: 1px solid;
    width: 15em;
    margin: 1em;
}
.my_testimonial_card:nth-of-type(2) {
    background-color: black;
    color: white;
}
.input {
    display: flex;
    flex-direction: column;
    margin: 1em;
    
}
.input_text {
    height: 3em;
    margin: 0.8em;
    width: 40em;
}
.input_text1 {
    height: 6em;
    width: 40em;
}
.socialmedia_icon {
    display: flex;
    justify-content: center;
}