*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    font-size: 62.5%;
}
img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
main{
    padding: 5rem 8rem;

}
img:nth-of-type(2) {
    outline: 2px solid red;
    position: relative;
    left: 150px;
    

}
img:nth-of-type(3) {
    position: relative;
    outline: 2px solid green;
    
}
img:nth-of-type(1) {
    position: relative;
    left: 300px;
    outline: 2px solid pink;
}
