body{
    background-color: aquamarine;
    justify-content: center;
    display: flex;
}
div{
justify-content: center;
width: 60%;
background-color: beige;
height: 100%;
padding: 10px;
border-radius: 9%;
   
}
img{
    width: 35%;
    padding: 10px;
    padding-left: 33%;

}
h1{
    display: flex;
    justify-content: center;
}